{% extends "layout.html" %}

{% block heading %}
    Search
{% endblock %}

{% block body %}
<h2>Welcome, {{ username  }}</h2>
<a href="/logout">Log Out</a>
        <form action="{{ url_for('books') }}" method="post">

          <div class="form-group">
              <input class="form-control" name="isbn" placeholder="ISBN">
              <input class="form-control" name="title" placeholder="Title">
              <input class="form-control" name="author" placeholder="Author">
              <input class="form-control" name="year" placeholder="Year">
          </div>

          <div class="form-group">
              <button class="btn btn-primary">Search</button>
          </div>
        </form>

{% endblock %}
